<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ app_name }}">
    <meta name="author" content="Skern">

    <title>{{ 'Reset password'|trans }} - {{ app_name }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('backend') }}
    {% endblock %}

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6 pl-0">
                            <div class="p-4">
                                {{ include('backend/component/session_messages.html.twig') }}
                            </div>
                            <div class="pl-5 pb-5 pr-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ 'Reset password'|trans }}</h1>
                                </div>
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                {{ form_start(form, {'attr': {'class': 'user'}}) }}
                                {{ form_row(form.email, {'attr': {'class': 'form-control-user'}}) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    {{ 'Reset password'|trans }}
                                </button>
                                {{ form_end(form) }}

                                <hr/>

                                <div class="text-center">
                                    <a class="small" href="{{ path('login') }}">{{ 'Login into my account'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% block javascripts %}
    {{ encore_entry_script_tags('backend') }}
{% endblock %}

</body>

</html>

