{{ 'Hello'|trans }} {{ user.name }},<br />
<br />
{{ 'To recover your {{ app_name }} password click the link below'|trans({'{{ app_name }}': app_name}) }}:<br />
<a href="{{ url('reset_password', {'email': user.email , 'token': user.passwordToken}) }}">
    {{ url('reset_password', {'email': user.email , 'token': user.passwordToken}) }}
</a>
<br />
{{ 'This link is valid until {{ time }}h'|trans({'{{ time }}': user.passwordTokenExpirationTime|date('d-m-Y h:i')}) }}
<br />
<br />
{{ 'Thank you'|trans }},<br />
{{ 'The team'|trans }} {{ app_name }}.