{% extends 'backend/master.html.twig' %}

{% block title %}{{ 'Editing transfer'|trans }}: {{ transfer.title }}{% endblock %}
{% block contentTitle %}{{ 'Editing transfer'|trans }}: {{ transfer.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Editing transfer'|trans }}:
                        {{ transfer.title }}
                    </h6>
                </div>
                <div class="card-body">
                    {{ include('backend/account/transfer/partials/form.html.twig', {'button_label': 'Update'}) }}
                    <hr/>
                    <a href="{{ path('backend_account_transfer_index') }}"
                       class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">{{ 'Back to the list'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
