{% extends 'backend/master.html.twig' %}

{% block title %}{{ 'User'|trans }}{{ user.name }}{% endblock %}

{% block contentTitle %}{{ 'User'|trans }}{{ user.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'User'|trans }}
                        {% embed 'backend/component/identifier/user.html.twig' with {user: user} %}{% endembed %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>{{ 'Name'|trans }}: </strong>{{ user.name }}<br/>
                                <strong>{{ 'Email'|trans }}: </strong>{{ user.email }}<br/>
                                <strong>{{ 'Registration date'|trans }}: </strong>{{ user.creationTime|date("d-m-Y h:i") }}h<br/>
                                <strong>{{ 'Administrator'|trans }}: </strong>{{ is_granted("ROLE_ADMIN") ? "Yes"|trans : "No"|trans }}<br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('backend_user_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">{{ 'Back to the list'|trans }}</span>
                    </a>
                    <a href="{{ path('backend_user_edit', {id: user.id}) }}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">{{ 'Edit'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
