{% extends 'backend/master.html.twig' %}

{% block title %}{{ 'Create new indebtedness'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Create new indebtedness'|trans }}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Create new indebtedness'|trans }}</h6>
                </div>
                <div class="card-body">
                    {{ include('backend/transaction/indebtedness/partials/form.html.twig') }}
                    <hr />
                    <a href="{{ path('backend_transaction_indebtedness_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">{{ 'Back to the list'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
