{% extends 'backend/master.html.twig' %}
{% block title %}{{ 'Tax Payers'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Tax Payers'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Tax Payers'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% embed 'backend/component/pagination/header.html.twig' with {pagination: categories} %}{% endembed %}

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(categories, 'Name'|trans, 'o.name') }}</th>
                                    <th>{{ knp_pagination_sortable(categories, 'Created'|trans, 'o.creationTime') }}</th>
                                    <th>{{ 'Actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    {# @var category \App\Entity\Category\Category #}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.creationTime|dateDiffForHumans }}</td>
                                        <td>
                                            <a href="{{ path('backend_category_edit', {'id': category.id}) }}"
                                               class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            {{ include('backend/category/partials/delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">{{ 'No results found.'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>{{ knp_pagination_sortable(categories, 'Name'|trans, 'o.name') }}</th>
                                    <th>{{ knp_pagination_sortable(categories, 'Created'|trans, 'o.creationTime') }}</th>
                                    <th>{{ 'Actions'|trans }}</th>
                                </tr>
                            </tfoot>
                        </table>
                        {% embed 'backend/component/pagination/footer.html.twig' with {pagination: categories} %}{% endembed %}
                    </div>

                    <a href="{{ path('backend_category_new') }}"
                       class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">{{ 'Create new'|trans }}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
