{# @var app.user App\Entity\User #}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Software de Gestão">
    <meta name="author" content="Daniel Oliveira">

    <title>{% block title %}{% endblock %} - {{ app_name }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('backend') }}
    {% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           href="{{ path('backend_dashboard') }}">
            <div class="sidebar-brand-text mx-3">{{ app_name }}</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('backend_dashboard') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>{{ 'Control Panel'|trans() }}</span></a>
        </li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Accounts
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu-accounts">
                <i class="fas fa-fw fa-money-check"></i>
                <span>{{ 'Accounts'|trans }}</span>
            </a>
            <div id="menu-accounts" class="collapse">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">{{ 'Types of transactions'|trans }}:</h6>
                    <a class="collapse-item" href="{{ path('backend_account_asset_index') }}"><i class="fas fa-fw fa-money-bill-wave"></i> <span>{{ 'Asset Accounts'|trans }}</span></a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('backend_account_transfer_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>{{ 'Transfers'|trans }}</span></a>
        </li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            {{ 'Transactions'|trans }}
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('backend_tax_payer_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>{{ 'Tax Payers'|trans }}</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menu-transactions">
                <i class="fas fa-fw fa-exchange-alt"></i>
                <span>{{ 'Transactions'|trans }}</span>
            </a>
            <div id="menu-transactions" class="collapse">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">{{ 'Types of transactions'|trans }}:</h6>
                    <a class="collapse-item" href="{{ path('backend_transaction_revenue_index') }}"><i class="fas fa-fw fa-plus"></i> <span>{{ 'Revenues'|trans }}</span></a>
                    <a class="collapse-item" href="{{ path('backend_transaction_expense_index') }}"><i class="fas fa-fw fa-minus"></i> <span>{{ 'Expenses'|trans }}</span></a>
                    <a class="collapse-item" href="{{ path('backend_transaction_indebtedness_index') }}"><i class="fas fa-fw fa-clock"></i> <span>{{ 'Indebtednesses'|trans }}</span></a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Categories
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('backend_category_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>{{ 'Categories'|trans }}</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('backend_tag_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>{{ 'Tags'|trans }}</span></a>
        </li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Backoffice
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('backend_user_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>{{ 'Users'|trans }}</span></a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.name }}</span>
                            <img class="img-profile rounded-circle" src="{{ app.user.photo|imagine_filter('thumbnail_small') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ path('backend_user_change_password') }}">
                                <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ 'Change password'|trans }}
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ 'Logout'|trans }}
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">{% block contentTitle %}{% endblock %}</h1>
                </div>

                {% include 'backend/component/session_messages.html.twig' %}

                {% block body %}{% endblock %}
            </div>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>{{ 'Copyright'|trans }} &copy; {{ app_name }} {{ 'now'|date('Y') }}</span> |
                    {% include 'backend/component/change_locale.html.twig' %}
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">{{ 'Are you ready to leave?'|trans }}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">{{ 'Press the "Exit" button when you are ready to logout.'|trans }}</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('logout') }}">{{ 'Exit'|trans }}</a>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('backend') }}
{% endblock %}
</body>
</html>