{% extends 'backend/master.html.twig' %}

{% block title %}{{ 'Editing recurrent transaction'|trans }}: {{ recurrentTransaction.title }}{% endblock %}
{% block contentTitle %}{{ 'Editing recurrent transaction'|trans }}: {{ recurrentTransaction.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <i class="fa fa-info-circle"></i> {{'Changes will be applied only to new transactions'|trans}}
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Edit recurrent transaction'|trans }}:
                        {{ recurrentTransaction.title }}
                    </h6>
                </div>
                <div class="card-body">
                    {{ include('backend/transaction/recurrent/partials/form.html.twig', {'button_label': 'Update'}) }}
                    <hr/>
                    <a href="{{ path('backend_transaction_recurrent_index') }}"
                       class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">{{ 'Back to the list'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
