{% extends 'backend/master.html.twig' %}

{% block title %}{{ user.name }} - {{ 'Change password'|trans }}{% endblock %}
{% block contentTitle %}{{ user.name }} - {{ 'Change password'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ user.name }} - {{ 'Change password'|trans }}</h6>
                </div>
                <div class="card-body">
                    {{ include('backend/user/partials/change_password_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
